*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #14120b;
  box-sizing: border-box;
}

nav h3{
  color: white;
  width: 100px;
  padding-left: 95px;
}
nav{
max-width: 100vw;
height: 22vh;
display: flex;
justify-content:space-between;
padding-top: 17px;
}

nav ul{
  display: flex;
  list-style-type: none;
  gap:25px;
  color:#ede8e5;
  font-size: 17px;
}

.butn{
  padding-right: 155px;
}

.butn button{
  border-radius: 20px;
}

.sign{
   height: 4vh;
  width: 4vw;
  font-size: 15px;
  background-color: #14120b;
  color:white;
}

.Down{
  height: 4vh;
  width: 6vw;
   font-size: 15px;
}
main{
  margin-left: 100px;
  height: 23vh;
  
}
main h2{
  color: #edecde;
}

main button{
  height: 7vh;
  width: 15vw;
  margin-top: 25px;
  font-size: 15px;
  border-radius: 27px;
}

 img{
 max-width: 85%;  
  height: auto;         
 padding-left: 100px;
}

